---
# Only the main Sass file needs front matter (the dashes are enough)
search: true
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'air' }}"; // skin
@import "minimal-mistakes"; // main partials